@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<div class="text-center">
    <h2 class="display-4">Events Management</h2>
    <br />
    <br />
    <p>To start, go to menu <strong>Settings --> Events List</strong></p>
</div>
